<p style="margin:1em 0">
  <strong>Stock Summary Instructions:</strong>
</p>
<p style="margin:1em 0 1em">
  While Spree supports multiple warehouses, it would take additional logic to setup how it splits shipments. Instead, we use one summary warehouse that sums up the stock of all of the real warehouses, and then lets an ERP or other third party determine how to ship it.
</p>
<p style="margin:1em 0 1em">
  <strong><em>Warning:</em></strong> Make sure you only have one stock location that is default and active. Your real warehouses need to be not default and not active.
</p>
